* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: lightblue;
}

header,
main,
footer {
  width: 100%;
}

header {
  height: 15vh;
  background: palevioletred;
}

main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 70vh;
  background: pink;
}

footer {
  height: 15vh;
  background: lightgreen;
}

.errorpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}